
manifest {
    name = "nextflow-sars-cov-scanner-demo"
    author = "juba"
    mainScript = "main.nf"
}

params {
    outdir = "results"
    publish_mode = "copy"

    max_memory = "16.GB"
    max_cpus = 8
    max_time = "3.h"
}

process {
    cpus = 1
    memory = "4.GB"
    time = "1.h"

    maxRetries = 2
    maxErrors = "-1"

    withLabel: "process_low" {
        cpus = 2
        memory = "4.GB"
        time = "1.h"
    }

    withLabel: "process_medium" {
        cpus = 4
        memory = "8.GB"
        time = "2.h"
    }

    withLabel: "process_high" {
        cpus = 8
        memory = "10.GB"
        time = "4.h"
    }
}


profiles {
    local {
        process.executor = "local"
        executor {
            name = "local"
            cpus = params.max_cpus
            memory = params.max_memory
        }
    }

    slurm {
        process.executor = "slurm"
        executor {
            name = "slurm"
            queueSize = 100
            submitRateLimit = "10/1min"
            exitReadTimeout = "10 min"
        }

        process {
            queue = "normal"
            clusterOptions = "--account=def-xxx"
        }
    }

    conda {
        conda {
            enabled = true
            useMamba = false
            cacheDir = "$HOME/.nextflow/conda"
            createTimeout = "20 min"
        }
    }

    micromamba {
        conda {
            enabled = true
            useMicromamba = true
            cacheDir = "$HOME/.nextflow/conda"
            createTimeout = "20 min"
            channels      = "conda-forge,bioconda,defaults"
        }
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = "$HOME/.nextflow/apptainer"
        }
    }

    docker {
        docker {
            enabled = true
        }
    }

    test {
        params {
            outdir = "test_results/"
        }
    }
}

